<nav class="escritorio-menu">
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/" class="nav-link"><i class="fas fa-home"></i> Início do Escritório</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/1-iniciacao-projeto/" class="nav-link"><i class="fas fa-flag"></i> Iniciação do Projeto</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/planejamento/" class="nav-link"><i class="fas fa-tasks"></i> Planejamento do Projeto</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/execucao/" class="nav-link"><i class="fas fa-play"></i> Execução do Projeto</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/monitoramento/" class="nav-link"><i class="fas fa-chart-line"></i> Monitoramento e Controle</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/encerramento/" class="nav-link"><i class="fas fa-flag-checkered"></i> Encerramento do Projeto</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/planejamento/ferramenta-interativa" class="nav-link"><i class="fas fa-tools"></i> Ferramenta Interativa</a>
  <a href="{{ site.baseurl }}/" class="nav-link"><i class="fas fa-arrow-left"></i> Voltar ao Guia Principal</a>
</nav>
