<nav class="main-nav">
  <a href="{{ site.baseurl }}/" class="nav-link"><i class="fas fa-home"></i> Início</a>
  <a href="{{ site.baseurl }}/preparacao-inicial" class="nav-link"><i class="fas fa-check-circle"></i> Preparação Inicial</a>
  <a href="{{ site.baseurl }}/elaboracao-proposta" class="nav-link"><i class="fas fa-pencil-alt"></i> Elaboração de Proposta</a>
  <a href="{{ site.baseurl }}/chamamento-publico" class="nav-link"><i class="fas fa-bullhorn"></i> Chamamento Público</a>
  <a href="{{ site.baseurl }}/celebracao-parceria" class="nav-link"><i class="fas fa-handshake"></i> Celebração da Parceria</a>
  <a href="{{ site.baseurl }}/execucao-projeto" class="nav-link"><i class="fas fa-cogs"></i> Execução do Projeto</a>
  <a href="{{ site.baseurl }}/monitoramento-avaliacao" class="nav-link"><i class="fas fa-chart-line"></i> Monitoramento e Avaliação</a>
  <a href="{{ site.baseurl }}/prestacao-contas" class="nav-link"><i class="fas fa-file-invoice"></i> Prestação de Contas</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc" class="nav-link"><i class="fas fa-project-diagram"></i> Escritório de Projetos</a>
  <a href="{{ site.baseurl }}/sobre" class="nav-link"><i class="fas fa-info-circle"></i> Sobre</a>
</nav>
