<nav class="escritorio-menu">
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/" class="nav-link">Início do Escritório</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/1-iniciacao-projeto/" class="nav-link">Iniciação do Projeto</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/planejamento/" class="nav-link">Planejamento do Projeto</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/execucao/" class="nav-link">Execução do Projeto</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/monitoramento/" class="nav-link">Monitoramento e Controle</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/encerramento/" class="nav-link">Encerramento do Projeto</a>
  <a href="{{ site.baseurl }}/escritorio-projetos-osc/planejamento/ferramenta-interativa" class="nav-link">Ferramenta Interativa</a>
</nav>
