<nav class="site-nav">
  <a href="{{ site.baseurl }}/" class="nav-link">Início</a>
  <a href="{{ site.baseurl }}/preparacao-inicial" class="nav-link">Preparação Inicial</a>
  <a href="{{ site.baseurl }}/elaboracao-proposta" class="nav-link">Elaboração de Proposta</a>
  <a href="{{ site.baseurl }}/chamamento-publico" class="nav-link">Chamamento Público</a>
  <a href="{{ site.baseurl }}/celebracao-parceria" class="nav-link">Celebração da Parceria</a>
  <a href="{{ site.baseurl }}/execucao-projeto" class="nav-link">Execução do Projeto</a>
  <a href="{{ site.baseurl }}/monitoramento-avaliacao" class="nav-link">Monitoramento e Avaliação</a>
  <a href="{{ site.baseurl }}/prestacao-contas" class="nav-link">Prestação de Contas</a>
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/sobre">Sobre</a></li>
    <li><a href="{{ site.baseurl }}/escritorio-projetos-osc">Escritório de Projetos OSC</a></li>
    <!-- Outros itens do menu -->
  </ul>

</nav>
