---
---

@import "{{ site.theme }}";

// Estilos personalizados
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  width: 100%;
  padding: 2rem 1rem;
  position: relative;
  z-index: 1001;
}

.project-name {
  font-size: 2.25rem;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
}

.side-nav {
  width: 250px;
  background-color: #f8f9fa;
  padding: 2rem 1rem;
  height: calc(100vh - 200px); // Ajuste este valor conforme necessário
  position: sticky;
  top: 0;
  overflow-y: auto;
  border-right: 1px solid #e9ecef;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  margin-bottom: 0.5rem;
}

.side-nav .nav-item {
  display: block;
  padding: 0.5rem 1rem;
  color: #495057;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.side-nav .nav-item:hover {
  background-color: #e9ecef;
  color: #007bff;
}

.main-content {
  flex: 1;
  padding: 2rem 4rem;
  overflow-y: auto;

  h1, h2, h3, h4, h5, h6 {
    color: #159957;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }
}

.fique-ligado {
  background-color: #fffacd;
  border-left: 5px solid #ffd700;
  padding: 15px;
  margin-bottom: 20px;
  font-style: italic;
  position: relative;
  padding-left: 50px;

  &:before {
    content: "\f071";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #ffd700;
  }
}

// Estilos para ícones
.fas, .fab, .far {
  margin-right: 0.5rem;
  color: $section-headings-color;
}

h1 .fas, h1 .fab, h1 .far {
  font-size: 0.9em;
}

h2 .fas, h2 .fab, h2 .far {
  font-size: 0.8em;
}

// Ajustes responsivos
@media screen and (max-width: 768px) {
  .main-content-wrapper {
    flex-direction: column;
  }

  .side-nav {
    width: 100%;
    height: auto;
    position: static;
    border-right: none;
    border-bottom: 1px solid #e9ecef;
  }

  .main-content {
    padding: 2rem 1rem;
  }
}

// Remover o botão "View on GitHub"
.page-header .btn,
.project-tagline + .btn,
.github-button {
  display: none !important;
}
